/* CSS for main academic webpage */

body {
    padding-top: 60px;
    padding-bottom: 40px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 500;
}

h1 {
    font-weight: 500;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 500;
}

.sidebar-nav {
    padding: 9px 0;
}


.sidenav-resize {
    width: 180px;
}

.calendarbox {
    height: 350px;
}

.calendarframe {
    border-width: 0;
    border-style: none;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

@media (min-width: 768px) and (max-width: 980px) {
    .sidenav-resize {
        width: auto;
    }
}

@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Sidenav */
    .sidenav-resize {
        width: auto;
        margin-bottom: 20px;
    }
    .sidenav-resize.affix {
        position: static;
        width: auto;
        top: 0;
    }
}
